@import "tailwindcss";

html,
body,
#root{
height:100%;
margin:0;
padding:0;
background:#F8FAFC;
font-family:Inter,sans-serif;
}

*{
box-sizing:border-box;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#16a34a;
border-radius:20px;
}

::-webkit-scrollbar-track{
background:#f3f4f6;
}